<section class="tg-panel">
    <header class="tg-panel-heading tg-primary-heading row">
        <h5 class="tg-heading col-md-6">
      Videos
    </h5>
    </header>
    <div class="tg-panel-content">
        <div class="tg-videos-list row tg-grid">
            <p ng-hide="videos.length">No videos to show</p>
            <div ng-repeat="video in videos | limit:24" class="tg-videos-list-entry col repeater picture-layout col-md-3">
                <a href ng-click="delete(video)" ng-show="canDelete" class="tg-remove-icon pull-right"><i class="fa fa-times"></i></a>
                <a href="#/watch/{{ video.id }}" class="tg-video-entry-link">
                    <h5 class="tg-heading">{{ video.name }}</h5>
                    <video width="100%" class="clip-thumbnail" ng-src="{{video.url}}"></video>                    
                </a>
            </div>
        </div>
    </div>
    <header class="tg-panel-heading tg-primary-heading row">
        <h5 class="tg-heading col-md-6">
      Subscriptions
    </h5>
    </header>
    <div class="tg-panel-content">
        <div class="tg-subscriptions-list row tg-grid">
            <p ng-hide="user.subscriptions.length">No subscriptions to show</p>
            <div ng-repeat="subscription in user.subscribers | limit:24" class="tg-subscriptions-list-entry col repeater">
                <a href="#/?user={{ subscription.user_name }}" class="tg-video-entry-link">
                    <h5 class="tg-heading">{{ subscription.user_name }}</h5>
                </a>
            </div>
        </div>
    </div>
</section>
