<section class="tg-panel">
    <header class="tg-panel-heading tg-primary-heading">
        <h5 class="tg-heading">
      {{ video.name }}
    </h5>
    </header>

    <div class="tg-player-panel text-center">
        <video height="100%" style="margin-top: 5px" controls="controls" autoplay>
            <source type="video/mp4" ng-src="{{video.base64}}">
        </video>
    </div>

    <div class="row tg-grid">
        <div class="col-md-8 col">
            <header class="tg-panel-heading">
                <h5 class="tg-heading">
          Video Info
        </h5>
                <ul>
                    <li ng-repeat="(key,value) in video" ng-hide="key == 'base64'">
                        {{key}} : {{value}}
                    </li>
                    <li>Bitcoin address: {{getCurrentlyViewedUser().btc_address}}</li>
                </ul>
                <a href class="tg-advanced-search-link" ng-click="toggleSubscribe()" ng-if="viewingUser()">
                    <span class="fa fa-chain"></span>
                    <span ng-hide="subscribedTo(viewingUser())">Subscribe to</span>
                    <span ng-show="subscribedTo(viewingUser())">Unsubscribe from</span>
                    {{viewingUser()}}
                </a>
            </header>
        </div>
    </div>
</section>
