<section class="tg-panel">
    <header class="tg-panel-heading tg-primary-heading">
        <h5 class="tg-heading">
      {{ video.name }}
    </h5>
    </header>

    <div class="tg-player-panel text-center">
        <video width="90%" style="margin-top: 5px" controls>
            <source type="video/mp4" src="data:video/mp4;base64,{{video.base64}}">
        </video>
    </div>

    <div class="row tg-grid">
        <div class="col-md-8 col">
            <header class="tg-panel-heading">
                <h5 class="tg-heading">
          Video Info
        </h5>
                <ul>
                    <li ng-repeat="(key,value) in video">
                        {{key}} : {{value}}
                    </li>
                </ul>
            </header>
        </div>
    </div>
</section>
